<!DOCTYPE html>
<html lang="fr">
  <head>
    {% load static %}
    <!-- Charger les fichiers statiques dans Django -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Rendre la page responsive pour qu'elle s'adapte à la taille de l'écran -->
    <title>Sud recycling</title>

    <!-- Lien vers le fichier CSS principal -->
    <link rel="stylesheet" href="{% static 'recycling/css/styles.css' %}" />
    <!-- Lien vers la bibliothèque CSS de Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <!-- Importer jQuery, Popper.js et Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Styles CSS personnalisés pour la bannière et les boutons -->
    <style>
      .banner {
        background: url("{% static 'recycling/images/banniere.jpg' %}")
          no-repeat center center;
        background-size: cover;
        text-align: center;
        padding: 5em 0;
        color: white;
        position: relative;
      }

      .banner-buttons {
        position: absolute;
        bottom: 20px;
        right: 20px;
      }

      .btn-devis {
        background-color: green;
        color: white;
      }
    </style>
  </head>
  <body>
    <header>
      <!-- Barre de navigation Bootstrap -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Sud recycling</a>
        <!-- Bouton pour basculer la navigation sur les petits écrans -->
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Menu de navigation -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/economie-circulaire"
                >Economie circulaire</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/add_and_calculate">Calculateur CO2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <form method="post" action="{% url 'temoignages' %}">
                {% csrf_token %}
                <!-- Bouton de soumission pour les témoignages -->
                <button type="submit" class="btn btn-primary">
                  Témoignage
                </button>
              </form>
            </li>
          </ul>
        </div>
      </nav>
      <!-- Bannière avec boutons -->
      <div class="banner">
        <h1>Sud recycling</h1>
        <div class="banner-buttons">
          <a class="btn btn-primary" href="/admin">Login</a>
          <a class="btn btn-devis" href="/demande-devis">Devis</a>
          <a class="btn btn-devis" href="/inventaires">Inventaire</a>
        </div>
      </div>
    </header>
    <main>
      <!-- Boucle pour afficher les pages dynamiques -->
      {% for page in page_index %}
      <section class="content">
        <div class="text">
          <h2>{{ page.titre }}</h2>
          <p>{{ page.description|linebreaks }}</p>
        </div>
        <!-- Image associée à chaque page -->
        <img src="{{ page.image.url }}" alt="{{ page.titre }}" />
      </section>
      {% endfor %}

      <!-- Section pour les témoignages avec un formulaire -->
      <section id="temoignages" class="content">
        <div class="text">
          <form method="post" action="{% url 'temoignages' %}">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit">Votre avis</button>
          </form>
        </div>
        <!-- Carrousel Bootstrap pour afficher les témoignages -->
        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-ride="carousel"
        >
          <div class="carousel-inner">
            {% for temoin in temoignages %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <p>{{ temoin.commentaire }}</p>
              <p><strong>Note:</strong> {{ temoin.note }}/5</p>
              <p><strong>Par:</strong> {{ temoin.nom }}</p>
            </div>
            {% endfor %}
          </div>
          <!-- Contrôles pour naviguer dans le carrousel -->
          <a
            class="carousel-control-prev"
            href="#carouselExampleControls"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleControls"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </section>
    </main>
    <footer>
      <!-- Pied de page avec des liens vers les réseaux sociaux -->
      <p>&copy; 2024 Sud Recycling.</p>
      <div class="social-media">
        <a href="#">Facebook</a> | <a href="#">X</a> | <a href="#">Instagram</a>
      </div>
    </footer>
    <!-- Scripts pour jQuery et Bootstrap -->
  </body>
</html>
