/* Styles pour le corps de la page */

/* Code CSS pour la bannière */
.banner {
    background: url("{% static 'recycling/images/banniere.jpg' %}") no-repeat center center;
    background-size: cover;
    text-align: center;
    padding: 5em 0;
    color: white;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Styles pour l'en-tête */
header {
    color: white;
    padding: 1em 0;
}

/* Styles pour le menu de navigation */
nav {
    background-color: #080707;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1em;
    display: block;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #090808;
}

/* Styles pour le contenu principal */
main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

/* Styles pour les sections de contenu */
.content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1em;
    border-radius: 8px;
    max-width: 1400px;
    margin: 0 auto;
}

.content img {
    max-width: 45%;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-right: 10px;
}

.content .text {
    max-width: 50%;
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 1em;
    padding-left: 10px;
}

.content .text p {
    margin-bottom: 1em;
}

/* Styles pour les tableaux */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

/* Styles pour le pied de page */
footer {
    background-color: #030303;
    color: white;
    text-align: center;
    padding: 1em 0;
}

footer .social-media a {
    color: white;
    margin: 0 0.5em;
    text-decoration: none;
}

footer .social-media a:hover {
    text-decoration: underline;
}

/* bouton */
button[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #218838;
}
